<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TargetConnection" connectionString="Data Source=localhost;Initial Catalog=RawData;Integrated Security=SSPI"/>
  </connectionStrings>
  <appSettings>
    <add key="InputFilePath" value="\\mpaserver2\Company\Incoming_Data\CMS Provider of Services\2017_06_Other\pos_other_csv_jun17\POS_OTHER_JUN17.csv"/>
    <add key="UseInputQueue" value="false"/>
    <add key="Delimiter" value=","/>
    <add key="TargetServer" value="mpaserver59"/>
    <add key="TargetDatabase" value="RawData"/>
    <add key="TargetSchema" value="dbo"/>
    <add key="TargetTable" value="dbo.testtable"/>
    <add key="UseHeader" value="true"/>
    <add key="HeaderRowsToSkip" value="0"/>
    <add key="CopyLocal" value="true"/>
    <add key="Overwrite" value="true"/>
    <add key="Append" value="false"/>
    <add key="DefaultColumnWidth" value="1000"/>
    <add key="BatchSize" value="10000"/>
    <add key="Comments" value="testing 123"/>
    <add key="SchemaPath" value=""/>
    <add key="MaxDOP" value="2"/>
    <add key="ColumnFilter" value=""/>
    <add key="QuoteIdentifier" value='"'/>
    <add key="EscapeCharacter" value='"'/>
    <add key="NullValue" value="''"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>