<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TargetConnection" connectionString="Data Source=sqlbox;Initial Catalog=NFL;uid=nflguru;pwd=nflData4U"/>
  </connectionStrings>
  <appSettings>
    <add key="InputFilePath" value="C:\users\mr\source\repos\word-net\file-parsers\output\data.csv"/>
    <add key="FileExtensionOverride" value="xml"/>
    <add key="Delimiter" value=","/>
    <add key="TargetServer" value=""/>
    <add key="TargetDatabase" value=""/>
    <add key="TargetSchema" value=""/>
    <add key="TargetTable" value=""/>
    <add key="UseHeader" value="True"/>
    <add key="HeaderRowsToSkip" value="0"/>
    <add key="CopyLocal" value="true"/>
    <add key="Overwrite" value="true"/>
    <add key="Append" value="true"/>
    <add key="DefaultColumnWidth" value="1000"/>
    <add key="BatchSize" value="10000"/>
    <add key="Comments" value=""/>
    <add key="SchemaPath" value=""/>
    <add key="MaxDOP" value="1"/>
    <add key="ColumnFilter" value=""/>
    <add key="QuoteIdentifier" value="&quot;"/>
    <add key="EscapeCharacter" value="&quot;"/>
    <add key="NullValue" value="''"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>